body{
  background:linear-gradient(rgb(85, 0, 85),rgb(133, 0, 133));
  background-attachment: fixed;
}

#box{
    background-color: black;
    width: 1920px;
    height: 70px;
    margin-left: -10px;
    margin-top: -10px;
    position:sticky;
    top: 0px;

}   
.mail{
    color: white;
    font-size: 3rem;
    margin-left: 1500px;
    position: sticky;
    top: 5px;
}
.github{
    color: white;
    font-size: 3rem;
    margin-left: 50px;
    position: sticky;
    top: 5px;
}

.discord{
    color: white;
    position: absolute;
    top: 20px;
    left: 1700px;
}


#contats{
    color: white;
    top: 40px;
}
.contats-1{
    font-family: 'DynaPuff', cursive;
    font-size: 3rem;
    color: white;
    position:absolute;
    margin-top: -25px;
    top: 25px;
    left: 100px;
}
#blackbox{
    margin-top: 0px;
    position: sticky;
    top: 0px;
}


#secicon{
    font-size: 5rem;
    color: white;
    position: absolute;
    margin-top: 55px;
    margin-left: 150px;
}


#lastbox{
    background-color: black;
    border: 10px solid;
    width: 1900px;
    height: 200px;
    margin-left: -10px;
    margin-top:auto;
    position: absolute;
    top: 950px;
}
.search{
    color: white;
    font-family: 'DynaPuff', cursive;
    font-size: 3rem;
    position: absolute;
    margin-top: 70px;
    margin-left: 300px;
}

.google{
    color: gold;
    font-size: 5rem;
    margin-left: 650px;
    margin-top: 50px;
    z-index: 0;
    position: absolute;
}
.bing{
    color: rgb(114, 114, 255);
    font-size: 5rem;
    margin-left: 800px;
    margin-top: 50px;
    z-index: 0;
    position: absolute;
}

.facebook{
    color: rgb(67, 67, 255);
    font-size: 5rem;
    margin-left: 950px;
    margin-top: 50px;
    z-index: 0;
    position: absolute;
}

.youtube{
    color: red;
    font-size: 5rem;
    margin-left: 1100px;
    margin-top: 50px;
    z-index: 0;
    position: absolute;
}

.yahoo{
    color: rgb(64, 0, 144);
    font-size: 5rem;
    margin-left: 1250px;
    margin-top: 50px;
    z-index: 0;
    position: absolute;
}

#sad{
    font-size: 7rem;
    font-family: 'DynaPuff', cursive;
    position: absolute;
    top: 200px;
    left: 400px;
}

#body-text{
    font-size: 2.5rem;
    font-family: 'DynaPuff', cursive;
    position: absolute;
    left: 300px;
    top: 400px;
}

